main {
    text-align: center;
    width: 100%;
    margin: 0px 0;
}

form {
    display: inline-block;
    width: 60%;
}

form label {
    font-size: 20px;
}
form legend {
    font-size: 18px;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    padding: 2px 5px;
    margin: 0 0 5px;
}

form > div > input{
    margin: 0 0 20px;
    padding: 15px 30px;
    width: 100%;
}

button{
    width: 20%;
    height: 20%;
    font-size: 20px;
}
#box,#radio  {
    margin: 0 0 20px;
    padding: 10px 30px;
    width: 100%;
}

textarea{
    margin: 0 0 20px;
    padding: 15px 30px;
    width: 100%;
    height: 180px;
    resize:none;
}

.fundo-gradiente{
    width: 100%;
    height: 100%;
    background: linear-gradient(109deg, rgba(255, 163, 184, 0.434) 0%, #7AA2FF 100%);
}

fieldset{
    background: white;
}
