@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.header{
    width: 100%;
    /* height: 11%; */
    background: #1C1C1C;
    /* background: rgba(0, 0, 0, .1); */
    /* backdrop-filter: blur(50px); */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 8px 5.5%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
    text-decoration: none;
    padding: 0.5em;
    margin-left: 40px;
    background: linear-gradient(109deg, #1C1C1C 0%, #1C1C1C 100%);
    transition: .5s;
    
}

.navbar a:hover{
    background: linear-gradient(109deg, #FFA3B9 0%, #7AA2FF 100%);
    color: black;
    font-weight: bold;
    border-left: 5px solid #c17aff ;
}


#current-page{
    background: linear-gradient(109deg, #FFA3B9 0%, #7AA2FF 100%);
    color: black;
    font-weight: bold;
    border-left: 5px solid #c17aff ;
}
.header-space {
    height: 82px; 
}

@media (max-width: 1180px){
    .header{
        padding: 8px 3.5%;
    }
    
    
    .navbar a{
        margin-left: 20px;
    }
}

@media (max-width: 1023px){
    .header{
        padding: 8px 1.5%;
        flex-direction: column;
        gap: 10px 0px;
    }
    
    
    .navbar a{
        font-size: 16px;
        font-weight: 500;
        margin-left: 0px;
    }
    .header-space {
        height: 117px; 
    }
}

@media (max-width: 785px){
    .header{
        position: static;
        padding: 8px 0.5%;
        justify-content: space-evenly;
        flex-direction: column;
        text-align: center;
        gap: none;
    }    
    
    .navbar a{
        font-size: 16px;
        padding: 8px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #current-page{
        border-left: none ;
    }

    .navbar a:hover{
        border-left: none;
    }
    .header-space {
        height: 0px; 
    }
}

@media screen and (orientation: portrait), screen and (max-height: 480px) {
    .header{
        position: static;
    }
    .header-space {
        height: 0px; 
    }
}